//#include "Application_Shared.xcconfig"
//
//root = $(SRCROOT)/../../../../../..
//jcf_tools = $(root)/tools
//jcf_services = $(root)/services
//jcf_components = $(root)/components
//jcf_thirdparty_external = $(root)/thirdparty/external
//jcf_thirdparty_internal = $(root)/thirdparty/internal
//
//csflogger = $(jcf_components)/csf-logger/include/csf/logger/ $(jcf_components)/csf-logger/include
//
//jabberwerxcpp_include = $(jcf_components)/jabberwerx-binaries/include
//
//all_jabberwerxcpp_headers = $(jabberwerxcpp_include) $(jabberwerxcpp_include)/apcom $(jabberwerxcpp_include)/apXml $(jabberwerxcpp_include)/at_utils $(jabberwerxcpp_include)/conhelp $(jabberwerxcpp_include)/H $(jabberwerxcpp_include)/include $(jabberwerxcpp_include)/LoginMgr
//
//legacy_headerfile_search_path = $(jcf_components)/ecc/include/callcontrol $(jcf_components)/ecc/include $(jcf_thirdparty_external)/libxml2/prebuilt/libxml2/include
//
////boost
//boost = $(jcf_thirdparty_external)/boost
//
//csfnetutils_include = $(jcf_components)/csf-netutils/include
//// configservice
//configservice_objc = $(jcf_services)/configservice/wrappers/objective-c
//configservice_api = $(jcf_services)/configservice/api
//
//// contactservice
//contactservice_objc = $(jcf_services)/contactservice/wrappers/objective-c
//contactservice_api = $(jcf_services)/contactservice/api
//
//// jcfscripts
//ServiceFactory = $(jcf_tools)/jcfscripts/shoggoth/ObjCBodyTemplates/static/ServiceFactory
//
//// servicesframework
//servicesframework_api = $(jcf_services)/servicesframework/api
//servicesframework_include = $(jcf_services)/servicesframework/include
//servicesframework_objc = $(jcf_services)/servicesframework/wrappers/objective-c
//
//// systemservice
//systemservice_objc = $(jcf_services)/systemservice/wrappers/objective-c
//systemservice_api = $(jcf_services)/systemservice/api
//
//// systemmonitorservice
//systemmonitorservice_objc = $(jcf_services)/systemmonitorservice/wrappers/objective-c
//systemmonitorservice_api = $(jcf_services)/systemmonitorservice/api
//
//// telephonyservice
//telephonyservice_objc = $(jcf_services)/telephonyservice/wrappers/objective-c
//telephonyservice_api = $(jcf_services)/telephonyservice/api
//
//// mediadeviceservice
//mediadeviceservice_objc = $(jcf_services)/mediadeviceservice/wrappers/objective-c
//mediadeviceservice_api = $(jcf_services)/mediadeviceservice/api
//
//// impresenceservice
//impresenceservice_objc = $(jcf_services)/impresenceservices/wrappers/objective-c
//impresenceservice_api = $(jcf_services)/impresenceservices/api
//
//// voicemailservice
//voicemailservice_objc = $(jcf_services)/voicemailservice/wrappers/objective-c
//voicemailservice_api = $(jcf_services)/voicemailservice/api
//
//communicationhistoryservice_objc = $(jcf_services)/communicationhistoryservice/wrappers/objective-c
//communicationhistoryservice_api = $(jcf_services)/communicationhistoryservice/api
//
//csf2g_person_include = $(jcf_components)/csf-person/include
//csf2g_foundation_deprecated = $(jcf_components)/csf-foundation/include/deprecated
//csf2g_foundation_portability = $(jcf_components)/csf-foundation/include/portability
//contactservice_include = $(jcf_services)/contactservice/include
//
////ciscossl
//ciscossl_header = $(jcf_thirdparty_internal)/ciscossl/ios/arm/include
//
////curl
//curl_header = $(jcf_thirdparty_external)/libcurl/include
//curl_ios_header = $(jcf_thirdparty_external)/libcurl/ios/include
//
////servicelocator
//servicelocator = $(jcf_components)/csf-uc-srv-loc/include
//
////jcfcoreutils
//jcfcoreutils = $(jcf_components)/jcfcoreutils/include
//
//vendors = $(SRCROOT)/../../../../vendors
//
////plcrashreportor
//plcrashreportor = $(vendors)/common/plcrashreporter/Source
//
//jcf_headerfile_search_path = $(inherited) $(configservice_objc) $(configservice_api) $(ServiceFactory) $(servicesframework_api) $(servicesframework_include) $(servicesframework_objc) $(systemservice_objc) $(systemservice_api) $(systemmonitorservice_objc) $(systemmonitorservice_api) $(telephonyservice_objc) $(telephonyservice_api) $(impresenceservice_objc) $(impresenceservice_api) $(contactservice_objc) $(contactservice_api) $(voicemailservice_objc) $(voicemailservice_api) $(communicationhistoryservice_objc) $(communicationhistoryservice_api) $(servicelocator) $(csf2g_person_include) $(csf2g_foundation_deprecated) $(csf2g_foundation_portability) $(contactservice_include) $(mediadeviceservice_objc) $(mediadeviceservice_api) $(ciscossl_header) $(curl_header) $(curl_ios_header) $(jcfcoreutils) $(csfnetutils_include)
//
//HEADER_SEARCH_PATHS = $(inherited) $(iconnect) $(gloox)/include $(openldap)/include $(minizip)/include   $(commoncore) $(commoncore)/CSITrampolines $(commoncore)/CSISortedArray $(commonui)/CSIImage $(commoncore)/CSIWapiClient $(commoncore)/CSIUserDefaults $(commoncore)/CSIUserDefaults $(commoncore)/CSIError $(commoncore)/CSIAnalytics $(commoncore)/CSILog $(commoncore)/CSIExtensions $(commoncore)/CSIXMPP $(commoncore)/CSIXMPPSoundManager $(common) $(vendors)/common $(common)/H $(gst) $(boost) $(jcf_headerfile_search_path) $(legacy_headerfile_search_path) $(csflogger) $(common)/meuxAgent/include $(all_jabberwerxcpp_headers) $(plcrashreportor)
