#include "Shared.xcconfig"

//GCC_PREPROCESSOR_DEFINITIONS = NDEBUG NS_BLOCK_ASSERTIONS
//
//DEBUG_INFORMATION_FORMAT = dwarf-with-dsym   // Place the debug information in a dSYM file
//
//GCC_GENERATE_DEBUGGING_SYMBOLS = YES
//
//ONLY_ACTIVE_ARCH = NO
//
//VALIDATE_PRODUCT = YES
//
//GCC_OPTIMIZATION_LEVEL = s

JCF_LIB_FOLDER_NAME[sdk=iphonesimulator5.1] = iossimulator-5.1-rel
JCF_LIB_FOLDER_NAME[sdk=iphonesimulator6.0] = iossimulator-6.0-rel
JCF_LIB_FOLDER_NAME[sdk=iphonesimulator6.1] = iossimulator-6.1-rel
JCF_LIB_FOLDER_NAME[sdk=iphonesimulator7.0] = iossimulator-7.0-rel

JCF_LIB_FOLDER_NAME[sdk=iphoneos5.1][arch=*] = ios-5.1-rel
JCF_LIB_FOLDER_NAME[sdk=iphoneos6.0][arch=*] = ios-6.0-rel
JCF_LIB_FOLDER_NAME[sdk=iphoneos6.1][arch=*] = ios-6.1-rel
JCF_LIB_FOLDER_NAME[sdk=iphoneos7.0][arch=*] = ios-7.0-rel

PLCRASHREPORTER_LIB_FOLDER_NAME[sdk=iphonesimulator5.1] = iossimulator-5.1-rel
PLCRASHREPORTER_LIB_FOLDER_NAME[sdk=iphonesimulator6.0] = iossimulator-6.0-rel
PLCRASHREPORTER_LIB_FOLDER_NAME[sdk=iphonesimulator6.1] = iossimulator-6.1-rel
PLCRASHREPORTER_LIB_FOLDER_NAME[sdk=iphonesimulator7.0] = iossimulator-7.0-rel

PLCRASHREPORTER_LIB_FOLDER_NAME[sdk=iphoneos5.1][arch=*] = ios-5.1-rel
PLCRASHREPORTER_LIB_FOLDER_NAME[sdk=iphoneos6.0][arch=*] = ios-6.0-rel
PLCRASHREPORTER_LIB_FOLDER_NAME[sdk=iphoneos6.1][arch=*] = ios-6.1-rel
PLCRASHREPORTER_LIB_FOLDER_NAME[sdk=iphoneos7.0][arch=*] = ios-7.0-rel
